
{% include "header.html" %}

<html>
</head>
    <meta charset = "UTF8"> 
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='iphone.css') }}" />   
    <link rel = "stylesheet" type="text/css" media="screen and (min-width:1280px)" href="{{ url_for('static', filename='desktop.css')}}"/>   
</head>

<body> 
        <!-- Displays messages when changes such as user logs in or changes are made to the databases -->
        <div class = 'flash'>
                {% with messages = get_flashed_messages() %} <!-- with in pyhon is construct that does some automatic clean up when the block is exited -->
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li><strong> {{message}}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
        </div>

        <div class = "layout">    
            <!-- Displays category list-->
            <div class = 'test'>
                <h1 class ="section-heading"> Categories </h1>
                <a class = "additem" href = "{{url_for('newItem')}}">Add item</a>
                <div class ="list-box">
                {% for i in category %}
                <li class = 'list'><a href = "{{url_for('showItems', category_name = i.name)}}">{{i.name}}</li></a>
                {%endfor%}
                </div>
            </div>            

            <div class = 'vertical-line'></div>
            
            <!-- Displays latest added items -->
            <div class = 'test'>
                <h1 class ="section-heading"> Latest items </h1>
                <div class ="list-box">     
                {% for j in items %}
                <li class = 'list'><a href = "{{url_for('showDetails', category_name = j.category.name, item_name = j.name)}}">{{j.name}}<i>({{j.category.name}})</i></li></a>  
                {% endfor %}
                </div>
            </div> 
        </div> 
               
</body>
</html>