<html>
</head>
</head>
<body>
 <div class = 'flash'>
            {% with messages = get_flashed_messages() %} <!-- with in pyhon is construct that does some automatic clean up when the block is exited -->
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong> {{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
  </div>
 <span>
	<h1> Categories </h1>
	{% for i in category %}
	<li><a href = "{{url_for('showItems', category_name = i.name)}}">{{i.name}}</li>
	{%endfor%}
</span>

<br>

<a href = "{{url_for('newItem')}}">Add item</a>

<span>
	<h1> Latest items </h1>		
    {% for j in items %}
	<li><a href = "{{url_for('showDetails', category_name = j.category.name, item_name = j.name)}}">{{j.name}}<i>({{j.category.name}})</i></li></a>
	
	{% endfor %}
</span>

</body>
</html>