{% include "header.html" %}

<html>
</head>
	<meta charset = "UTF8"> 
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='iphone.css') }}" />   
    <link rel = "stylesheet" type="text/css" media="screen and (min-width:1280px)" href="{{ url_for('static', filename='desktop.css')}}"/> 
</head>
<body>
	<!-- Displays the item details and provides options to delete or make changes -->
	<h1 class = 'section-heading'>{{item_name}}</h1>
	<p class = 'item-description'>{{item_description}}</p>
	<div class = "button-arrangement">
		<a href = "{{url_for('editItem', category_name = category_name, item_name = item_name)}}"><button class = 'allbutton'>Edit</button></a>
		<a href = "{{url_for('showItems',category_name = category_name)}}"><button class = 'allbutton'>Back</button></a>
		<a href = "{{url_for('deleteItem',category_name = category_name, item_name = item_name)}}" ><button class = 'allbutton'>Delete</button></a>
    </div>
</body>
</html>