{% include "header.html" %}

<!DOCTYPE html>
<html>
<head>

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<meta name="google-signin-client_id" content="1047672154770-81hu0t082gpu34ghegodasej4772.apps.googleusercontent.com">

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>  
   
    <div id="my-signin2">
      <span class="g-signin"           
            data-scope="openid email"            
            data-clientid="1047672154770-pvoe81hu0t082gpu34ghegodasej4772.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
      </span>          
     </div>
     <div id="result"></div>
   <script> 
   
  // Callback function
  function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      // Pass server state token and one time code from client to server
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      // To ensure that jQuery does not convert response to a string
      processData: false,
      // The data that will be sent to the server
      data: authResult['code'],
      // Sending arbitary stream of data 
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 1000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        // If no response from the application server
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }  
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>   


<!--END GOOGLE PLUS SIGN IN -->

<!--START FACEBOOK SIGN IN -->

<button >
   <div class = "facebook">
   <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();" data-size = "Xlarge" >
   <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
   </fb:login-button>
   </div>
</button>

<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '669028923488402',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.9' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); 
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk')); 
  
  // Callback function
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      // Pass server state token and one time code from client to server      
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      // To ensure that jQuery does not convert response to a string
      processData: false,
      // The data that will be sent to the server
      data: access_token,
      // Sending arbitary stream of data 
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
        // If no response from the application server  
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>

</body>


<!--END FACEBOOK SIGN IN -->