{% include "header.html" %}

<html>
</head>    
	<meta charset = "UTF8"> 
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='iphone.css') }}" />   
    <link rel = "stylesheet" type="text/css" media="screen and (min-width:1280px)" href="{{ url_for('static', filename='desktop.css')}}"/>   
</head>
<body>
	<!-- This form is used to enter a new item into  catalog -->
	<form action = "{{url_for('newItem')}}" method = 'POST'>
		<h2 class = 'section-heading'> New Item </h2>
		<div class = 'field'>			
			<h4 class = 'field-description'> Name </h4>		
		    <input class = 'size-field' type="text" size="30" name="name">
		</div>
		<div class = 'field'>		
		    <h4 class = 'field-description'> Category </h4>		
		    <input class = 'size-field' name = 'category'>
			{% for i in category %}		
		   		<option value = {{i.name}}>
			{% endfor %}				
		<div class = 'field'>
			<h4 class = 'field-description'> Description </h4>
			<textarea class = 'textbox-description' rows = "20" columns = "20" name="description">Enter here</textarea>
	    </div>
	    <div class = 'button-arrangement'>
			<input class = 'allbutton' type="submit" value="Add"> 
			<a href= "{{url_for('showCatalog')}}" class = 'allbutton'> Cancel </a>
	     </div>
	</form>	  

</body>
</html>