{% include "header.html" %}

<html>
</head>
</head>
<body>
	<form action = "{{url_for('newItem')}}" method = 'POST'>
		<h2> New Item </h2>
		<h4> Name: </h4>
		<input type="text" size="30" name="name">		
		<h4> Description </h4>
		<input type="text" size="30" name="description">
		<h4> Category </h4>		
		<input name = 'category'>
		{% for i in category %}		
		   <option value = {{i.name}}>
		{% endfor %}		
		<input type="submit" value="Add">
		<a href = "{{url_for('showCatalog')}}"> Cancel </a>
	</form>	

</body>
</html>